<aside class="bg-white p-3 border rounded">
  <div class="mb-4">
    <h6 class="text-success text-uppercase fw-bold mb-3">Institucional</h6>
    <ul class="nav flex-column">
      <li class="nav-item"><a routerLink="" class="nav-link text-dark px-0 py-1">Quem Somos</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark px-0 py-1">Organograma</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark px-0 py-1">Transparência e Prestação de Contas</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark fw-bold px-0 py-1">Gabinete</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark fw-bold px-0 py-1">Colegiados</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark fw-bold px-0 py-1">Comissões</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark px-0 py-1">Auditorias</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark px-0 py-1">Ações e Programas</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark px-0 py-1">Documentos Institucionais</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark px-0 py-1">Políticas e Ações Afirmativas</a></li>
    </ul>
  </div>

  <div class="mb-4">
    <h6 class="text-success text-uppercase fw-bold mb-3">Ensino</h6>
    <ul class="nav flex-column">
      <li class="nav-item"><a routerLink="" class="nav-link text-dark px-0 py-1">Graduação</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark px-0 py-1">Técnico</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link text-dark px-0 py-1">Pós-Graduação</a></li>
    </ul>
  </div>

  <div>
    <h6 class="text-success text-uppercase fw-bold mb-3">Pesquisa</h6>
    <ul class="nav flex-column">
    </ul>
  </div>
</aside>
